{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}


<div class="container" role="main" style="font-family: arial;">
  <div class="row">
    <div class="col-md-9">
      <h1 style="font-size: 40px;margin-top: 2rem">{% trans 'Schedule Match' %}</h1>
    </div>
  </div>


      <div class="row" style="margin-top:20px">
        {{form.errors}}
      </div>


    <form method="post" 
    class="needs-validation" novalidate  style="margin-top: 4%">
      {% csrf_token %}

      <div class="row" style="margin-top:20px">
       <div class="col-md-2">
        <label for="id_team1" class="col-form-label">{{form.team1.label}}<span style="color: red;">*</span></label>
        </div>

        <div class="col-md-8">
          {{form.team1}}
        </div>
      </div>

      <div class="row" style="margin-top: 30px">
        <div class="col-md-2">
          <label for="id_team2" class="col-form-label">{{form.team2.label}}<span style="color: red;">*</span></label>
        </div>

        <div class="col-md-8">
          {{form.team2}}
        </div> 
      </div>

        <div class="row" style="margin-top:20px">
         <div class="col-md-2">
        <label for="id_schedule_date" class="col-form-label">{{form.schedule_date.label}}</label>
        </div>

        <div class="col-md-8">
          {{form.schedule_date}}
        </div>          
        </div>


       <div class="row" style="margin-top:20px">
         <div class="col-md-2">
        <label for="id_winner_team" class="col-form-label">{{form.winner_team.label}}</label>
        </div>

        <div class="col-md-8">
          {{form.winner_team}}
        </div>          
        </div>


      <div class="row" style="margin-top: 30px">
        <div class="col-md-2">
          <label for="id_team2" class="col-form-label">{{form.status.label}}<span style="color: red;">*</span></label>
        </div>

        <div class="col-md-8">
          {{form.status}}
        </div> 
      </div>

        <div class="row" style="margin-top: .5rem">
        <div class="col-md-8 offset-md-2" style="text-align: right;">
          <span style="color: #000;font-size: 16px"><span style="color: red;">*</span> {% trans 'Mandatory' %}</span>
        </div>
        </div>
        <div class="row" style="margin-top: 3%;">

      <div class="col-md-4 offset-md-8">
        <a href="{% url 'matches-list' %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
        <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
      </div>
      </div>
    </form>    

</div>

{% endblock  %}
