/* Autocomplete
----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; }       
.ui-autocomplete-loading { background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat; }

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/
.ui-menu {
        list-style:none;
        padding: 10px;
        margin: 0;
        display:block;
        width:227px;
        border: 2px solid #999;
        background-color: #fff;
        height: 100px;
        overflow-y: scroll;
}
.ui-menu .ui-menu {
        margin-top: 20px;
}
.ui-menu .ui-menu-item {
        margin:0;
        padding: 0;
        /*width: 200px;*/
}
.ui-menu .ui-menu-item a {
        text-decoration:none;
        display:block;
        padding:.2em .4em;
        line-height:1.5;
        font-weight: 500;
        zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
        margin: -1px;
}

.ui-helper-hidden-accessible{
        position: absolute;
        top: -23px;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 2px solid #ccc;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  max-height: 12rem;
  overflow-y: auto;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  margin-top: -1.2rem;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 2px solid #ccc;
}
/*.autocomplete-items div:hover {
  background-color: #000;
  color: #fff;
}*/
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #000 !important; 
  color: #ffffff; 
}