<!-- 
sprint : 29
jira : https://jira.si.fr.intraorange/browse/COM-1196
author : XJMX4605
requirement : Robert
modifcation date : 05-07-2020
 -->


{% load i18n %}
{% load static %}


<header role="banner" style="margin-top: 2rem">
    <nav class="navbar navbar-dark bg-dark navbar-expand-md">
        <div class="container">
            <div class="navbar-collapse justify-content-between collapse" id="collapsing-navbar">
             
                <ul class="navbar-nav" style="align-items: baseline;margin-top: -2.9rem">
                  </li>
                    <li class="nav-item"><a class="nav-link" href="" target="_blank" aria-current="page" style="margin: 21px 17px 21px 17px ">{% trans 'FAQ' %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="" target="_blank" aria-current="page"
                      style="margin: 21px 17px 21px 17px">{% trans 'Support' %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="" target="_blank" aria-current="page"
                      style="margin: 21px 17px 21px 17px">{% trans 'Contact Us' %}</a></li>
                </ul>
                
       
            </div>
        </div>
    </nav>

     </div>
    </div>
</header>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>



